@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<!--<fieldset>
    <legend>STAFF</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.StaffID)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.StaffID)
        @Html.ValidationMessageFor(model => model.StaffID)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.LaborCatalogID)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.LaborCatalogID)
        @Html.ValidationMessageFor(model => model.LaborCatalogID)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.FirstName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.LastName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.BirthDate)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.BirthDate)
        @Html.ValidationMessageFor(model => model.BirthDate)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.StartDate)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.StartDate)
        @Html.ValidationMessageFor(model => model.StartDate)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.IndirectInd)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.IndirectInd)
        @Html.ValidationMessageFor(model => model.IndirectInd)
    </div>

    <button type="button" value="Create" class="btn btn-primary">Create
    </button>

</fieldset>-->
